<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">

        <immediateFlush>true</immediateFlush>
        <encoder>
            <!-- @formatter:off -->
            <pattern>%d{HH:mm:ss.SSS} %highlight(%-5level) [%blue(%.24t)] %yellow(%logger{36}):%line: %msg%n%throwable</pattern>
            <!-- @formatter:on -->
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <logger name="io.wrtn.project" level="DEBUG"/>
    <logger name="io.wrtn.kommons" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="Console"/>
    </root>

</configuration>
